<app-helper title="Focus history directive and service" [code]="focusHistoryCode">
  <p>Directive stores focused elements into history and thanks to history service <span class="tag is-dark">FocusHistoryService</span>
  you can go back in focus history using <span class="tag is-dark">focusHistoryService.focusPrevious()</span>.
  Put <span class="tag is-dark">FocusHistoryService</span> into app module providers and then inject it into
  the component
  <span class="tag is-dark">constructor(public readonly focusHistoryService: FocusHistoryService)</span> from the
  <span class="tag is-dark">ngx-focus-control</span> package.</p>
  <br>
  <p>Example inputs and also history from History service (elements are mapped to only ids).
  Focus inputs multiple times and then click on the button, see history.</p>
  <input type="text" placeholder="Input 1" class="input" id="input-1" fuHistory>
  <input type="text" placeholder="Input 2" class="input" id="input-2" fuHistory>
  <button class="button is-info m-1" (click)="focusHistoryService.focusPrevious()" [disabled]="!historyIds.length">
    Focus previous
  </button>
  <span class="tag is-dark" *ngFor="let id of historyIds">{{id}}</span>
</app-helper>
