<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <span class="navbar-item title has-text-white	"><span class="">Ngx Focus Control</span></span>
  </div>
</nav>

<!-- Focus control directive -->
<section class="hero">
  <div class="hero-body">
    <p class="title">Focus control directive</p>
    <p class="subtitle">
      This directive allows the user to manually define the next and/or previous focus target.
      Example shows how to revert direction of focus.
      Focus the first element and navigate using the keyboard (Tab and Shift + Tab).
    </p>
    <input type="text" placeholder="Input 1" class="input" id="input-1"
           [ngxFocusControl]="{next: '#input-3', previous: '#input-2'}">
    <input type="text" placeholder="Input 2" class="input" id="input-2"
           [ngxFocusControl]="{next: '#input-1', previous: '#input-3'}">
    <input type="text" placeholder="Input 3" class="input" id="input-3"
           [ngxFocusControl]="{next: '#input-2', previous: '#input-1'}">
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>{{focusControlCode}}</code></pre>
      </div>
    </article>
  </div>
</section>

<!-- Focus selector directive -->
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">Focus selector directive</p>
    <p class="subtitle">
      This directive allows the user to manually define the next and previous focus target by the given class. It can be configured to behave in the cycle (if it is the last element with the given class, the next focus target is the first element with the given class).
      Example shows how to skip element between elements with this class (element is still accessible by mouse).
      Focus the first element and navigate using the keyboard (Tab and Shift + Tab).
    </p>
    <input type="text" placeholder="Input 4" class="input focus-selector-item"
           [ngxFocusSelector]="'.focus-selector-item'">
    <input type="text" placeholder="Input 5" class="input">
    <input type="text" placeholder="Input 6" class="input focus-selector-item"
           [ngxFocusSelector]="'.focus-selector-item'">
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>{{focusSelectorCode}}</code></pre>
      </div>
    </article>
  </div>
</section>

<!-- Focus parent directive -->
<section class="hero">
  <div class="hero-body">
    <p class="title">Focus parent directive</p>
    <p class="subtitle">
      This directive behaves very similarly to Focus selector directive, only the user can access focusable elements between elements with this directive by pressing Enter.
      Example shows how to focus div element and its content (content is focusable by click or enter).
      Focus the first div and navigate using the keyboard (Tab and Shift + Tab and Enter).
    </p>
    <div tabindex="0" id="parent-1" class="box focus-selector-parent" [ngxFocusParent]="'.focus-selector-parent'">
      <input type="text" placeholder="Input 7" class="input" id="input-7">
      <input type="text" placeholder="Input 8" class="input" id="input-8">
    </div>
    <div tabindex="0" id="parent-2" class="box focus-selector-parent" [ngxFocusParent]="'.focus-selector-parent'">
      <input type="text" placeholder="Input 9" class="input" id="input-9">
      <input type="text" placeholder="Input 10" class="input" id="input-10">
    </div>
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>{{focusParentCode}}</code></pre>
      </div>
    </article>
  </div>
</section>

<!-- Focus group directive -->
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">Focus group directive</p>
    <p class="subtitle">
      TODO
    </p>
    TODO
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>TODO</code></pre>
      </div>
    </article>
  </div>
</section>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Ngx focus control</strong> by <a href="https://gulan.sk">Filip Raiper34 Gulan</a>. The source code is
      licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
