<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item title has-text-white	">Ngx Focus Control</a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item" href="https://github.com/Raiper34/ngx-focus-control">
      <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
    </a>
  </div>
</nav>

<!-- Focus auto directive -->
<section class="hero">
  <div class="hero-body">
    <p class="title">Focus auto directive</p>
    <p class="subtitle">
      This directive focuses the element after ngAfterViewInit hook and when the delay bidding changes. The user can define the delay. The delay corresponds to usage of setTimeout() function.
      Example shows input, that should be automatically focused when you have visited this demo.
    </p>
    <input type="text" placeholder="Input 0" class="input" id="input-0" [fuAuto]="0">
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>{{focusAutoCode}}</code></pre>
      </div>
    </article>
  </div>
</section>

<!-- Focus control directive -->
<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Focus control directive</p>
    <p class="subtitle">
      This directive allows the user to manually define the next and/or previous focus target.
      Example shows how to revert direction of focus.
      Focus the first element and navigate using the keyboard (<span class="tag is-dark">TAB</span> and <span class="tag is-dark">SHIFT + TAB</span>).
    </p>
    <input type="text" placeholder="Input 1" class="input" id="input-1"
           [fuControl]="{next: '#input-3', previous: '#input-2'}">
    <input type="text" placeholder="Input 2" class="input" id="input-2"
           [fuControl]="{next: '#input-1', previous: '#input-3'}">
    <input type="text" placeholder="Input 3" class="input" id="input-3"
           [fuControl]="{next: '#input-2', previous: '#input-1'}">
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>{{focusControlCode}}</code></pre>
      </div>
    </article>
  </div>
</section>

<!-- Focus selector directive -->
<section class="hero">
  <div class="hero-body">
    <p class="title">Focus selector directive</p>
    <p class="subtitle">
      This directive allows the user to manually define the next and previous focus target by the given class.
      Example shows how to skip element between elements with this class (element is still accessible by mouse).
      Focus the first element and navigate using the keyboard (<span class="tag is-dark">TAB</span> and <span class="tag is-dark">SHIFT + TAB</span>).
    </p>
    <input type="text" placeholder="Input 4" class="input focus-selector-item"
           [fuSelector]="'.focus-selector-item'">
    <input type="text" placeholder="Input 5" class="input">
    <input type="text" placeholder="Input 6" class="input focus-selector-item"
           [fuSelector]="'.focus-selector-item'">
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>{{focusSelectorCode}}</code></pre>
      </div>
    </article>
  </div>
</section>

<!-- Focus parent directive -->
<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Focus parent directive</p>
    <p class="subtitle">
      This directive behaves very similarly to Focus selector directive, only the user can access focusable child elements with this directive by pressing Enter.
      Example shows how to focus div element and its content (content is focusable by click or enter).
      Focus the first div and navigate using the keyboard (<span class="tag is-dark">TAB</span> and <span class="tag is-dark">SHIFT + TAB</span> and <span class="tag is-dark">ENTER</span>).
    </p>
    <div tabindex="0" id="parent-1" class="box focus-selector-parent" [fuParent]="'.focus-selector-parent'">
      <input type="text" placeholder="Input 7" class="input" id="input-7">
      <input type="text" placeholder="Input 8" class="input" id="input-8">
    </div>
    <div tabindex="0" id="parent-2" class="box focus-selector-parent" [fuParent]="'.focus-selector-parent'">
      <input type="text" placeholder="Input 9" class="input" id="input-9">
      <input type="text" placeholder="Input 10" class="input" id="input-10">
    </div>
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>{{focusParentCode}}</code></pre>
      </div>
    </article>
  </div>
</section>

<!-- Focus group directive -->
<section class="hero">
  <div class="hero-body">
    <p class="title">Focus group directive</p>
    <p class="subtitle">
      This directive allows merging focusable elements into the group. The user focuses the whole group and can enter into this group by Enter press and leave the group by Escape press.
      Example shows the box with the group of buttons (buttons are not accessible, only when the user enters the group).
      Focus the first div and enter group <span class="tag is-dark">ENTER</span> then leave the group <span class="tag is-dark">ESCAPE</span> or navigate <span class="tag is-dark">TAB</span> and <span class="tag is-dark">SHIFT + TAB</span>).
    </p>
    <div tabindex="0" id="group-1" class="box focus-selector-parent" [fuGroup]="{selector: '.focus-group-item'}">
      <input type="text" tabindex="-1" placeholder="Input 11" class="input focus-group-item" id="input-11">
      <input type="text" tabindex="-1" placeholder="Input 12" class="input focus-group-item" id="input-12">
    </div>
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>{{focusGroupCode}}</code></pre>
      </div>
    </article>
  </div>
</section>

<!-- Focus lock directive -->
<section class="hero is-info">
  <div class="hero-body">
    <p class="title">Focus lock directive</p>
    <p class="subtitle">
      This directive lock some area (div, span...). First and last focusable child of directive element are connected together (the next focus target of last child is first child and vice versa), useful for accessible modals.
      Example shows the box, that you can not leave with the keyboard, when you have focused some element.
      Focus the first element and navigate using the keyboard (<span class="tag is-dark">TAB</span> and <span class="tag is-dark">SHIFT + TAB</span>).
    </p>
    <div id="lock-1" class="box focus-selector-parent" fuLock>
      <input type="text" placeholder="Input 13" class="input" id="input-13">
      <input type="text" placeholder="Input 14" class="input" id="input-14">
      <input type="text" placeholder="Input 15" class="input" id="input-15">
    </div>
    <article class="message">
      <div class="message-header"><p>Code</p></div>
      <div class="message-body">
        <pre><code>{{focusLockCode}}</code></pre>
      </div>
    </article>
  </div>
</section>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Ngx focus control</strong> by <a href="https://gulan.sk">Filip Raiper34 Gulan</a>. The source code is
      licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
