<app-helper title="Focus selector directive" [code]="focusSelectorCode">
  <p>This directive allows the user to manually define the next and previous focus target by the given query selector.</p>
  <br>
  <p>Example shows how to skip element between elements with given class (element is still accessible by mouse).
  Focus the first element and navigate using the keyboard (<span class="tag is-dark">TAB</span> and <span
  class="tag is-dark">SHIFT + TAB</span>).</p>
  <input placeholder="Input 1" class="input focus-selector-item" [fuSelector]="'.focus-selector-item'">
  <input placeholder="Input 2" class="input">
  <input placeholder="Input 3" class="input focus-selector-item" [fuSelector]="'.focus-selector-item'">
</app-helper>
