<app-helper title="Focus parent directive" [code]="focusParentCode" [isDeprecated]="true">
  <p>This directive behaves very similarly to Focus selector directive, only the user can access focusable child
  elements with this directive by pressing Enter.</p>
  <br>
  <p>Example shows how to focus div element and its content (content is focusable by click or enter).
  Focus the first div and navigate using the keyboard (<span class="tag is-dark">TAB</span> and <span
  class="tag is-dark">SHIFT + TAB</span> and <span class="tag is-dark">ENTER</span>).</p>
  <div tabindex="0" id="parent-1" class="box focus-selector-parent" [fuParent]="'.focus-selector-parent'">
    <div class="subtitle has-text-black">Box 1</div>
    <input placeholder="Input 1" class="input">
    <input placeholder="Input 2" class="input">
  </div>
  <br>
  <div tabindex="0" id="parent-2" class="box focus-selector-parent" [fuParent]="'.focus-selector-parent'">
    <div class="subtitle has-text-black">Box 2</div>
    <input placeholder="Input 3" class="input">
    <input placeholder="Input 4" class="input">
  </div>
</app-helper>
