<app-helper title="Focus lock directive" [code]="focusLockCode">
  This directive locks some area (div, span...). First and last focusable child of directive element are connected
  together (the next focus target of last child is first child and vice versa), useful for accessible modals.
  Example shows the box, that you can not leave with the keyboard, when you have focused some element.
  Focus the first element and navigate using the keyboard (<span class="tag is-dark">TAB</span> and <span
  class="tag is-dark">SHIFT + TAB</span>).
  <div id="lock-1" class="box focus-selector-parent" fuLock>
    <input type="text" placeholder="Input 13" class="input" id="input-13">
    <input type="text" placeholder="Input 14" class="input" id="input-14">
    <input type="text" placeholder="Input 15" class="input" id="input-15">
  </div>
</app-helper>
